{% extends 'template.front.html.twig' %}


{% block main %}
    {% block banner %}
        <!-- banner -->
        <div class="bg-cover bg-no-repeat bg-center py-36" style="background-image: url('../../public/images/banner-bg.jpg')">
            <div class="container">
                <h1 class="text-6xl text-gray-800 font-medium mb-4 capitalize">
                    best collection for <br> home decoration
                </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam <br>
                    accusantium perspiciatis, sapiente
                    magni eos dolorum ex quos dolores odio</p>
                <div class="mt-12">
                    <a href="#basketSize" class="bg-primary border border-primary text-white px-8 py-3 font-medium
                    rounded-md hover:bg-transparent hover:text-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <!-- ./banner -->
    {% endblock %}

    {% block categories %}
        <!-- categories -->
        <div class="container py-16">
            <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">shop by category</h2>
            <div class="grid grid-cols-3 gap-3" id="category_grid">
                {% for cat in categories %}
                <div class="relative rounded-sm overflow-hidden group">
                    <img src="{{ cat.catsImg }}"
                         alt="{{ cat.catsName }}"
                         class="w-full"
                    />
                    <a href="?route=oneCategory&cat={{ cat.catsName }}">
                        <button class="absolute inset-0 bg-black bg-opacity-40
                                           flex items-center justify-center text-xl
                                           text-white font-roboto font-medium
                                           group-hover:bg-opacity-60 transition">
                        {{ cat.catsName }}
                        </button>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- ./categories -->
    {% endblock %}{# endCategories #}
    {% block arrival %}
        <!-- new arrival -->
        <div class="container pb-16">
            <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6" id="article_grid_header">New Arrivals</h2>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-6" id="article_grid">
                {% for prod in products|slice(0,4) %}
                <div class="bg-white shadow rounded overflow-hidden group">
                    <div class="relative">
                        <img src="{{ prod.prodImg }}" alt="{{ prod.prodName }}">
                    </div>
                    <div class="pt-4 pb-3 px-4">
                        <a href="?route=oneArticle&id={{ prod.prodId }}">
                            <h4 class="uppercase font-medium
                                         text-xl mb-2 text-gray-800
                                         hover:text-primary transition"
                            > {{ prod.prodName }}
                            </h4>
                        </a>
                        <div class="flex items-baseline mb-1 space-x-2">
                            <p class="text-xl text-primary font-semibold">€ {{ prod.prodPrice }}</p>
                        </div>
                        <div class="flex items-center">
                            <div class="text-xs text-gray-500 ml-3">Remaining : <span class="remainingDisplay" id="item{{ prod.prodId }}">{{ prod.prodAmount }}</span></div>
                        </div>
                        <div>
                            <button
                                    class="block w-full py-1 text-center text-white
                                       bg-primary border border-primary rounded-b
                                       hover:bg-transparent hover:text-primary transition"
                                    id="{{ prod.prodId }}"
                                    onclick="addItemToStorage('${data.id},${data.cat},${data.item},${data.priceRed},${data.saved},${data.amount}')"
                            >
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- ./new arrival -->
    {% endblock %}{# endArrival #}
    {% block ads %}
        <!-- ads -->
        <div class="container pb-16">
            <a href="#">
                <img src="../../public/images/offer.jpg" alt="ads" class="w-full">
            </a>
        </div>
        <!-- ./ads -->
    {% endblock %}{# endAds #}
    {% block product %}
        <!-- product -->
        <div class="container pb-16" id="reco_grid_hide">
            <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">recomended for you</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-6" id="recommended_grid">
                {% set products = products[4:]|shuffle %}
                {% for prod in products %}
                    <div class="bg-white shadow rounded overflow-hidden group">
                        <div class="relative">
                            <img src="{{ prod.prodImg }}" alt="{{ prod.prodName }}">
                        </div>
                        <div class="pt-4 pb-3 px-4">
                            <a href="?route=oneArticle&id={{ prod.prodId }}">
                                <h4 class="uppercase font-medium
                                         text-xl mb-2 text-gray-800
                                         hover:text-primary transition"
                                > {{ prod.prodName }}
                                </h4>
                            </a>
                            <div class="flex items-baseline mb-1 space-x-2">
                                <p class="text-xl text-primary font-semibold">€ {{ prod.prodPrice }}</p>
                            </div>
                            <div class="flex items-center">
                                <div class="text-xs text-gray-500 ml-3">Remaining : <span class="remainingDisplay" id="item{{ prod.prodId }}">{{ prod.prodAmount }}</span></div>
                            </div>
                            <div>
                                <button
                                        class="block w-full py-1 text-center text-white
                                       bg-primary border border-primary rounded-b
                                       hover:bg-transparent hover:text-primary transition"
                                        id="{{ prod.prodId }}"
                                        onclick="addItemToStorage('${data.id},${data.cat},${data.item},${data.priceRed},${data.saved},${data.amount}')"
                                >
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <!-- ./product -->
    {% endblock %}{# endProduct #}
    {% block features %}
        <!-- features -->


        <a href="?route=checkout" id="checkoutButton">
            <div class="border border-primary bg-blue-800 bg-opacity-40 rounded-sm px-3 py-6 flex justify-center items-center max-w-lg mx-auto">
                <img src="../../public/images/icons/delivery-van.svg" alt="Delivery" class="w-12 h-12 object-contain">
                <div>
                    <h4 class="font-medium capitalize text-lg">Checkout | &lpar;<span id="basketSize">0</span>&rpar;</h4>
                </div>
            </div>
        </a>


        <div class="container py-16">
            <div class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto justify-center">
                <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                    <img src="../../public/images/icons/delivery-van.svg" alt="Delivery" class="w-12 h-12 object-contain">
                    <div>
                        <h4 class="font-medium capitalize text-lg">Free Shipping</h4>
                        <p class="text-gray-500 text-sm">Order over $200</p>
                    </div>
                </div>
                <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                    <img src="../../public/images/icons/money-back.svg" alt="Delivery" class="w-12 h-12 object-contain">
                    <div>
                        <h4 class="font-medium capitalize text-lg">Money Returns</h4>
                        <p class="text-gray-500 text-sm">30 days money returns</p>
                    </div>
                </div>
                <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                    <img src="../../public/images/icons/service-hours.svg" alt="Delivery" class="w-12 h-12 object-contain">
                    <div>
                        <h4 class="font-medium capitalize text-lg">24/7 Support</h4>
                        <p class="text-gray-500 text-sm">Customer support</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./features -->
    {% endblock %}{# endFeat #}
{% endblock %}{# endMain #}
{% block footer %}{% endblock %}